{% extends "parent.html" %}

{% block title %}Home{% endblock %}
{% block home_active %}class="active"{% endblock %}

{% block page_header %}
	<h1>
		Dashboard
	</h1>
{% endblock %}

{% block content %}
	<h2>
		My Presentations
	</h2>
	<hr>
	<div class="full-container">
		{% for presentation in my_presentations %}
			<div class="presentation-thumb">
				<a href="/presentation/{{ presentation.pk }}/">
					<p>{{ presentation.title }}</p>
					<img src="{{ presentation.first_slide.image.url }}">
				</a>
			</div>
		{% empty %}
			You don't have any presentations.
		{% endfor %}
	</div>
	<h2>
		Presentations In Progress
	</h2>
	<hr>
	<div class="full-container">
		{% for presentation in cur_presentations %}
			<div class="presentation-thumb">
				<a href="/present/{{ presentation.pk }}/">
					<p>{{ presentation.title }}</p>
					<img src="{{ presentation.first_slide.image.url }}">
				</a>
			</div>
		{% empty %}
			There are no presentations in progress.
		{% endfor %}
	</div>
{% endblock %}
