{% extends "parent.html" %}

{% load staticfiles %}

{% block title %}{{ presentation.title }}{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static "css/present.css" %}">{% endblock %}

{% block body %}
	<img id="main" src="{{ presentation.current_slide.image.url }}">
	<span id="id" style="display: none">{{ presentation.pk }}</span>
	{% if controls %}
		<div class="controls">
			<div class="control">
				<a href="/control/{{ presentation.pk }}/next/" title="Next Slide">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</a>
			</div>
			<div class="control">
				<a href="/control/{{ presentation.pk }}/prev/" title="Previous Slide">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				</a>
			</div>
			<div class="control">
				<a href="/control/{{ presentation.pk }}/end/" title="End Presentation">
					<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
				</a>
			</div>
			<div class="control">
				<a id="numViewers" tabindex="0" data-toggle="popover" data-container="body" data-trigger="focus" data-placement="top" data-content="Loading...">
					{{ views }}
				</a>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block scripts %}
	{% if not controls %}
		<script src="{% static "js/update.js" %}"></script>
	{% else %}
		<script src="{% static "js/update_presenter.js" %}"></script>
	{% endif %}
{% endblock %}
