{% extends "parent.html" %}

{% load staticfiles %}

{% block title %}{{ presentation.title }}{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static "css/present.css" %}">{% endblock %}

{% block body %}
	<img src="{{ presentation.current_slide.image.url }}">
	{% if controls %}
		<div class="controls">
			<div class="control">
				<a href="/control/{{ presentation.pk }}/next/">N</a>
			</div>
			<div class="control">
				<a href="/control/{{ presentation.pk }}/prev/">P</a>
			</div>
			<div class="control">
				<a href="/control/{{ presentation.pk }}/end/">E</a>
			</div>
		</div>
	{% else %}
		<!-- TODO: auto update -->
	{% endif %}
{% endblock %}
