{% extends "parent.html" %}

{% load staticfiles %}

{% block title %}{{ presentation.title }}{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static "css/present.css" %}">{% endblock %}

{% block body %}
	<img src="{{ presentation.current_slide.image.url }}">
	{% if controls %}
		<div class="controls">
			<div class="control">
				<a href="/control/{{ presentation.pk }}/next/" title="Next Slide">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</a>
			</div>
			<div class="control">
				<a href="/control/{{ presentation.pk }}/prev/" title="Previous Slide">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				</a>
			</div>
			<div class="control">
				<a href="/control/{{ presentation.pk }}/end/" title="End Presentation">
					<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
				</a>
			</div>
		</div>
	{% else %}
		<!-- TODO: auto update -->
	{% endif %}
{% endblock %}
