{% extends "parent.html" %}

{% block title %}Register{% endblock %}
{% block login_active %}class="active"{% endblock %}

{% block page_header %}
	<h1>
		Register
	</h1>
{% endblock %}

{% block content %}

	<form role="form" method="POST" action="/register/">
		{% csrf_token %}
		<div class="form-group">
			<input type="text" class="form-control" name="email" placeholder="Email">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" name="password" placeholder="Password">
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-success btn-block" value="Register">
		</div>
	</form>

{% endblock %}
